
@{
    ViewBag.Title = "TestView";
}
<style>
    h2{
        font-family: Roboto;
        transition:font-size 2s;
        transition-timing-function: ease-in-out;
    }
    h2:hover{
        font-size: large;
    }


</style>


<h2>First Test View</h2>

